[submodule "_external/resources/wai-inclusion"]
	path = _external/resources/wai-inclusion
	url = https://github.com/w3c/wai-inclusion.git
[submodule "_external/resources/wai-bcase"]
	path = _external/resources/wai-bcase
	url = https://github.com/w3c/wai-bcase.git
[submodule "_external/resources/wai-policies-prototype"]
	path = _external/resources/wai-policies-prototype
	url = https://github.com/w3c/wai-policies-prototype.git
	branch = release
[submodule "_external/resources/wai-training"]
	path = _external/resources/wai-training
	url = https://github.com/w3c/wai-training.git
	branch = release