[submodule "_external/wai-website-components"]
	path = _external/wai-website-components
	url = https://github.com/w3c/wai-website-components.git
	fetchrecursesubmodules = true
[submodule "_external/wai-website-jekyll-templates"]
	path = _external/wai-website-jekyll-templates
	url = https://github.com/w3c/wai-website-jekyll-templates.git
	fetchrecursesubmodules = true
[submodule "_external/resources/wai-inclusion"]
	path = _external/resources/wai-inclusion
	url = https://github.com/w3c/wai-inclusion.git
[submodule "_external/resources/wai-bcase"]
	path = _external/resources/wai-bcase
	url = https://github.com/w3c/wai-bcase.git
[submodule "_external/resources/wai-policies-prototype"]
	path = _external/resources/wai-policies-prototype
	url = https://github.com/w3c/wai-policies-prototype.git
	branch = release
