[submodule "_external/resources/wai-inclusion"]
	path = _external/resources/wai-inclusion
	url = https://github.com/w3c/wai-inclusion.git
[submodule "_external/resources/wai-bcase"]
	path = _external/resources/wai-bcase
	url = https://github.com/w3c/wai-bcase.git
[submodule "_external/resources/wai-policies-prototype"]
	path = _external/resources/wai-policies-prototype
	url = https://github.com/w3c/wai-policies-prototype.git
	branch = release
[submodule "_external/resources/wai-develop-training"]
	path = _external/resources/wai-develop-training
	url = https://github.com/w3c/wai-develop-training.git
[submodule "_external/resources/wai-news"]
	path = _external/resources/wai-news
	url = https://github.com/w3c/wai-news.git
[submodule "_external/resources/wai-quick-start"]
	path = _external/resources/wai-quick-start
	url = https://github.com/w3c/wai-quick-start.git
