[build]
# with debugging: command = "git submodule update --init --remote && bundle exec jekyll build --verbose --trace --config '_config.yml,_config_staging.yml'"
command = "git submodule update --init --remote && npm install && bundle exec jekyll build --trace --config '_config.yml,_config_staging.yml'"
publish = "_site"

[build.environment]
RUBY_VERSION = "2.6.2"

[[redirects]]
from = "/wai-website"
to = "/"
status = 404

[dev]
command = "bundle exec jekyll serve -w --livereload --config _config.yml,_config_staging.yml"

[functions]
directory = "_functions"
node_bundler = "esbuild"

[[plugins]]
package = "@netlify/plugin-functions-install-core"

[[plugins]]
# See https://github.com/netlify/netlify-plugin-lighthouse#readme
package = "@netlify/plugin-lighthouse"
[plugins.inputs.settings]
preset = "desktop" # default is mobile
locale = "en"
