{%- comment %}
Renders paragraph indicating time of last update, and
linking to meeting minutes topic scraper for more recent minutes.

Expected input:
- group - name of group, matching a key in _data/minutes/groups.json
{% endcomment -%}

<p>
  This page was last updated on {{ site.time | date: "%e %B %Y" }}.
  For more recent meetings, see an alternative view of
  {% include_cached minutes/services-link.liquid group=include.group %}.
</p>