
  .overviewtable, .overviewtable * {
    border-collapse: collapse;
    clear: both;
  }
  .overviewtabletd, .overviewtable th {
    padding: 5px;
    text-align: left;
    vertical-align: top;
    border:1px solid grey;
  }
  .overviewtable th {background-color: lightgrey;}
  .overviewtable caption {
    text-align: left;
  }

#infos {text-align: left;}
.facettotalcount {display:inline;}
#deselect {line-height: normal; font-family: "Trebuchet MS", sans-serif; margin: .4em;}
ul.facetlist { list-style-type: none; padding-left: 0; margin-bottom: 0; margin-top: 0;}
ul.facetlist li {
  display:flex;
  margin-bottom: 3px;}

ul.facetlist li :first-child {
  margin-right: 5px
}
#facets {
  display: flex;
}
#facets > fieldset {
  flex: 1;
  padding: 0 .5em .5em 0;
  border: none;
  border-right: 1px solid;
}
#facets h4 {
  margin: 0;
  font-size: 1em;
}
@supports (display: grid) {
  #facets {
    width: auto;
    float:left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1.5em;
    grid-column-gap: 1em;
  }
  #facets #type {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  #facets #type {
    grid-column: 2/3;
  }
  #facets > fieldset {
    border-right: none;
    padding: 0;
  }
}

.countries .label {
  position: relative;
}