summary > h3 {
    margin: 0 0 1em 0;
}

.overviewtable {
  table-layout:fixed;
  width:100%;
}

.overviewtable, .overviewtable * {
  border-collapse: collapse;
  clear: both;
}
.overviewtable caption {
  text-align: left;
}

#infos {text-align: left;}
.facettotalcount {display:inline;}
#deselect {line-height: normal; margin: .4em;}
ul.facetlist { list-style-type: none; padding-left: 0; margin-bottom: 0; margin-top: 0;}
ul.facetlist li {
  display:flex;
  margin-bottom: 3px;}

ul.facetlist li :first-child {
  margin-right: 5px
}
#facets {
  display: flex;
}
#facets > fieldset {
  flex: 1;
  padding: 0 .5em .5em 0;
  border: none;
  border-right: 1px solid;
}
#facets h4 {
  margin: 0;
  font-size: 1em;
}
@supports (display: grid) {
  #facets {
    width: auto;
    float:left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1.5em;
    grid-column-gap: 1em;
  }
  #facets #type {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  #facets #type {
    grid-column: 2/3;
  }
  #facets > fieldset {
    border-right: none;
    padding: 0;
  }
}

.countries .label {
  position: relative;
}

.box-h h2.policy-heading {
  font-weight: bold !important;
}
.box-h .sublang {
  font-size: 1rem;
}

.box-h .sublang li {
  margin-bottom: 0;
}

.form-row {
	display: block;
	padding-bottom: 0.75em;
}

ul.multiple li {
	list-style-type: none;
	margin-bottom: 1.5em;
}

ul.multiple li label span {
	margin-right: 1em;
}

@supports (display: grid) {
  @media screen and (max-width:767px) {
    .overviewtable th, .overviewtable td {
      display: block;
      hyphens: auto;
    }
    .overviewtable tr {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, min-content);
      margin-bottom: 10px;
    }
   .overviewtable tr > *:first-child {
      grid-row: 1/2;
      grid-column: 1/2;
      border-right: none;
    }
    .overviewtable tr > *:nth-child(2) {
      grid-row: 1/2;
      grid-column: 2/4;
      border-left: none;
      border-right: none;
    }
    .overviewtable tr > *:nth-child(3) {
      grid-row: 1/2;
      grid-column: 4/5;
      border-left: none;
    }
    .overviewtable tr > td:nth-child(6):before {
      content: "Web only: ";
    }
  }

  @media screen and (max-width:399px) {
    .overviewtable th, .overviewtable td {
      border:1px solid grey !important;
    }
    .overviewtable tr {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, min-content);
      margin-bottom: 10px;
    }
    .overviewtable tr *:first-child {
      grid-row: 1/2;
      grid-column: 1/2;
      border-right: none !important;
      border-bottom: none !important;
    }
    .overviewtable tr *:nth-child(2) {
      grid-row: 2/3;
      grid-column: 1/3;
      border-top: none !important;
    }
    .overviewtable tr *:nth-child(3) {
      grid-row: 1/2;
      grid-column: 2/3;
      text-align: right;
      border-left: none !important;
      border-bottom: none !important;
    }
  }
}

.statenav {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.25em;
  padding: 0 !important;
  align-items: stretch;
}

.statenav li {
  box-sizing: border-box;
  list-style: none;
  flex: 0 1 calc(20% - .5em);
  /*white-space: nowrap;*/
  margin: .25em;
  display: flex;
  align-items: stretch;
}

.statenav li a, .statenav li span {
  flex: 1;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  background: #eee;
  text-align: center;
  justify-content: center;
  padding: .1em .2em;
}